@model WebUI.Models.Order.OrderStatusModel

<p>Realizacja zamowienia numer <b>#@Model.OrderId</b></p>
@Html.Partial("/Views/Shared/_Notification.cshtml")
<div id="order_info">
    <span id="order_status_lbl">@Model.StatusText</span>
    @Html.HiddenFor(c => c.Status, new { id = "curr_status" })
    <div id="order_status_box">
        @switch (Model.Status)
        {
            case Data.Enumerators.GlobalEnumerator.OrderStatus.Created:
                Html.RenderPartial("Partial/_orderInfoCreated", Model);
                break;
            case Data.Enumerators.GlobalEnumerator.OrderStatus.Assigned:
                Html.RenderPartial("Partial/_orderInfoAssigned", Model);
                break;
            case Data.Enumerators.GlobalEnumerator.OrderStatus.Incar:
                Html.RenderPartial("Partial/_orderInfoIncar", Model);
                break;
            case Data.Enumerators.GlobalEnumerator.OrderStatus.Done:
                Html.RenderPartial("Partial/_orderInfoDone", Model);
                break;
            default:
                Html.RenderPartial("Partial/_orderInfoCanceled", Model);
                break;
        }
    </div>
</div>
