@model WebUI.Models.UserData
<ul id="account-box">
    @if (Request.IsAuthenticated)
    {
        <li>
            <a href="#" class="name">@Model.FullName</a>

        </li>
        <li>@Html.ActionLink("Log off", "LogOff", "Account", new object { }, new { @class = "power", title = "Log off" })</li>
    }
    else
    {
        <b><a href="#" class="btn btn-link btn-sm" role="button" data-tar="#login_modal" data-rem="@Url.Action("LogOn","Account")" onclick="ShowModal(this)">Zaloguj się</a></b>@:/<a href="#" class="btn btn-link btn-sm" role="button" data-tar="#register_modal" data-rem="@Url.Action("Register","User")"  onclick="ShowModal(this)">Załóż konto</a>
    }
</ul>
