@{
    ViewBag.Title = "Brak dostępu!";
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}

<p>
    <h2>Ta akcja wymaga przydzielonych praw których nie masz!
        <br />
        Skontaktuj Się z administratorem!</h2>
</p>
