@model WebUI.Models.LogOnModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="login_modal_lbl">Logowanie</h4>
</div>
<div class="modal-body">
    @using (Ajax.BeginForm("LogOn", "Account", new { }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "signin_box" }, new { @class = "form-signin", role = "form", id = "login_form" }))
    {
        <div id="signin_box">

            @Html.Partial("SignInPartial", Model)
        </div>
    }
</div>
