@{
    ViewBag.Title = "Get Taxi";
}

@section scripts{
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    @Html.Partial("~/Views/Order/js/Scripts.cshtml")
}

@section Jumbotron{
    <div class="jumbotron" style="font-size: 14px; line-height: 1.42857; height: auto;">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-cm-8 col-md-6 col-lg-5">
                    @Html.Action("Create", "Order")
                </div>
            </div>
        </div>
    </div>
}

