@model WebUI.Models.Order.OrderStatusModel
<p>
    Klient wsiadł do samochodu. W trakcie podróży.
</p>
<p>
    <a class="btn btn-primary" onclick="OrderNote(@((int)Data.Enumerators.GlobalEnumerator.OrderNoteType.Done))" href="#">Dotarłem do miejsca</a>
</p>
