@model WebUI.Models.Order.OrderStatusModel

<p>Zamówienie zostało przyjęte do realizacji! Trwa poszukiwanie wolnego samochodu. Jak tylko samochód zostanie znaleziony, zostanie wysłany SMS z informacją o samochodzie i czasie oczekiwania.</p>
<p>
       <a class="btn btn-warning" onclick="CancelOrder()" href="#">Anuluj</a>
</p>
