@model WebUI.Models.User.ActivateModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="register_modal_lbl">Aktywacja konta</h4>
</div>
<div class="modal-body">
    @using (Ajax.BeginForm("Activate", "User", new AjaxOptions { UpdateTargetId = "af_activate_user", HttpMethod = "POST", InsertionMode = InsertionMode.Replace }))
    {
        <div id="af_activate_user">
            @Html.Partial("Partial/_activatePartial", Model)
        </div>
    }
</div>
